:root{
--Charcoat-Grey: hsl(235, 18%, 26%);
--Dark-Slate-Grey: hsl(234, 29%, 20%);
--Grey: hsl(231, 7%, 60%);
--White: hsl(0, 0%, 100%);
--Tomato: hsl(4, 100%, 67%);
}
body{
    margin: 0;
    background: var(--Charcoat-Grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--White);
    padding: 1rem 2rem;
    border-radius: 20px ;
    max-width: 80%;
    height: 100%;
    max-height: 100%;
    margin-top: 2rem ;
    gap: 6rem;
}
.mobile-image img{
    max-width: 100%;
    margin-top: -6rem;

    display: none;
    
}
.sign-up-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
h1{
  color: var(--Charcoat-Grey);
}
ul li{
    list-style-image:  url('/newsletter-sign-up-with-success-message-main/assets/images/icon-list.svg');
    margin-bottom: 0.5rem;
    list-style-position: outside;

    


}
label{
    margin-bottom: 0.5rem;
}
.error{
    color: rgb(202, 14, 14);
    font-size: 1rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
}
.sign-up-container input{
    max-width: 100%;
    width: 90%;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--Grey);
    cursor: pointer;

}
.sign-up-container input:focus{
    outline-color: var(--Dark-Slate-Grey);
}

 .sign-up-container button{
    cursor: pointer;
    max-width: 100%;
    width: 100%;
    padding: 1rem ;
    border-radius: 8px;
    border: none;
    background-color: var(--Dark-Slate-Grey);
    color: white;

}
.sign-up-container button:hover{
    background-color: var(--Tomato);
    transition: ease 1ms;
}
img{
    width: 100%;
    height: 29rem;
    margin-left: 1rem;

}
.thanks{
    display: none;
    position: absolute;
    margin-top: 35rem;
    max-width: 50%;
    padding: 2rem;
    background-color: var(--White);
    text-align: left;
    border-radius: 20px;
}
.thanks img{
    height: 2rem;
    width: 2rem;
    margin-left: -0.5rem;
}
.thanks button{
    padding: .8rem;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1rem;
    background-color: var(--Dark-Slate-Grey);
    min-width: 50%;
    cursor: pointer;
}
.thanks button:hover{
    background-color: var(--Tomato);
}
@media  screen and (max-width: 500px) {
      .image img{
        display: none;
     }
    .mobile-image  img{
        display: block;
    }
    .sign-up-container{
        margin-top: -10rem;
    }
}

